/* Used for profile image scale transformation on-hover */
@keyframes grow-and-shrink {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.10, 1.10);
  }

  100% {
    transform: scale(1, 1);
  }
}

#me:hover {
  animation: grow-and-shrink 0.5s;
}
