@media only screen and (min-width: 768px) {
  body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    min-height: 450px;
  }

  .desktop-only{
    display: block;
  }

  #me{
    height: 12em;
    width: 12em;
    margin: 5em auto ;
  }

  .midline-cta{
    display: none;
  }

  h2{
    font-size: 2.2em;
  }

  h3{
    font-size: 1.5em;
    padding: 2.5em 0 .35em 0;
  }

  .closed-tooltip{
    right: -150%;
  }

  .double-button{
    display:inline-block;
    padding: .5em 0 .5em 0;
    margin-top: 3em;
  }

  .contact-text{
    margin-bottom: 1.5em;
  }

  .less-top {
    padding: 2em 0 .35em 0;
  }

  .devops-margin{
    margin-bottom: .2em;
  }

  #icon-set{
      margin-bottom: 6em;
  }

  .exp-grid-description{
    line-height: 2em;
  }

  hr{
    margin: 3em auto 3em auto;
  }

  .skills-hr{
    margin: 0.7em auto 0 auto;
  }


  #name{
    margin: 1em auto 2em auto;
  }

  .navitem:hover{
    background: #ffcc80;
    transition-duration: 0.3s;
  }

  .desktop-icon{
      display: block;
      text-align: center;
  }


  .main-section {
    padding: 2em 4em 4em 4em;
    background: white;
    box-sizing: border-box;
  }

  #lastname {
    display: inline;
    margin-left: .2em;
  }

  #name h1{
    display:inline;
  }

  #navbar{
    background: white;
    text-align: right;
    padding-bottom: 2em;
  }

  .navitem{
    padding:0 .3em 0 .3em;
    color: black;
    font-size: 1.2em;
    border-radius: 5%
  }

  .sub-paragraph {
    font-size: 1.2em;
  }

  h5{
    font-size: 1em;
  }

  li {
    list-style-type: none;
  }

  .navitem {
    text-decoration: none;
    color:black;
  }

  .cta{
    width: 250px;
  }

  h1 {
    margin: 0 auto;
    font-size: 3em;
  }

}
